@import "../../styles/breakpoints";

.single-select-question__head {
  margin-bottom: 20px;

  @include mobileLg {
    text-align: center;
  }
}

.single-select-question__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  b {
    color: #E6957E;
  }
}

.single-select-question__subtitle {
  margin-top: 6px;

  b {
    font-weight: bold;
    color: #E6957E;
  }
}

.single-select-question__answer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 8px;
  padding: 16px;
  background: #91B386;
  width: 100%;
  min-height: 90px;
  max-width: 380px;
  border-radius: 8px;
  text-align: left;

  &:last-child {
    margin-bottom: 0;
  }
}

.single-select-question__icon {
  font-size: 44px;
  margin-right: 16px;
}

.single-select-question__answer-title {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 20px;
}
