.quiz {
  display: flex;
  min-height: 100%;
}

.quizQuestion {
  @extend .quiz;
  background: #F7F9EF;
  align-items: center;
}

.quizCheckout {
  @extend .quiz;
  background: #F7F9EF;
}

.container {
  padding: 20px 24px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
