@import "../../styles/breakpoints";

.input-question__head {
  margin-bottom: 50px;

  @include mobileLg {
    text-align: center;
  }
}

.input-question__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;

  b {
    color: #E6957E;
  }
}

.input-question__subtitle {
  margin-top: 6px;

  b {
    font-weight: bold;
    color: #E6957E;
  }
}

.input-question__input {
  display: block;
  border-style: none none solid;
  border-width: 0 0 1px;
  border-color: transparent transparent #D5DBC0;
  background-color: #F7F9EF;
  height: 24px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
}

.input-question__btn {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: auto;
  padding: 17px;
  border-radius: 12px;
  background-color: #91B286;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-align: center;

  &:disabled {
    opacity: 0.5;
  }
}
